{% extends "base.html" %}
{% block content %}

<h1>My Expenses</h1>
<h3>Total Spent: ₹{{ "%.2f"|format(total) }}</h3>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense.name }}</td>
            <td>₹{{ "%.2f"|format(expense.amount) }}</td>
            <td>{{ expense.category }}</td>
            <td>{{ expense.date }}</td>
            <td><a href="/delete/{{ expense.id }}" 
                   onclick="return confirm('Delete this expense?')">
                   Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}